
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 50px;
}

.card-detail{
    width: 300px;
    color: black;
    position: relative;
    margin: 0 50px 40px 50px;
}

.card-button{
    position: absolute;
    bottom: 0;
    left: 29%;
    margin-bottom: 8px;
}

.board-list{
    margin: 20px 20px;
    border-radius: 10px;
    color: white;
    text-align: left;
    font-weight: bold;
}

.ui .label{
    color: antiquewhite !important;
} 