.list{
    color: black;
    align-items: flex-start;
}

.project-detail-table{
    width: 50%;
    text-align: left;
    margin-left: 20px;
}

.table-container{
    display: flex;
    justify-content: center;
}